language: php

php:
    - 7.1
    - nightly

matrix:
    allow_failures:
        - php: nightly

before_script:
    - travis_retry composer self-update
    - travis_retry composer --dev update

script:
    - bin/phpunit
