language: php

php:
  - 5.6
  - 7.0
  - nightly
  - hhvm

matrix:
    allow_failures:
        - php: nightly
        - php: hhvm

before_script:
    - travis_retry composer self-update
    - travis_retry composer --dev update

script: vendor/bin/phpunit
