<?xml version="1.0"?>
<ruleset name="Hostnet PHPCodeSniffer Standard">
  <rule ref="HostnetExperimental"/>
  <!-- Copied from mediawiki-codesniffer -->
  <exclude-pattern>src/Hostnet/Sniffs/Classes/MultipleEmptyLinesSniff.php</exclude-pattern>
  <!-- Copied from squizlabs/php_codesniffer -->
  <exclude-pattern>test/Hostnet/Tests/CopiedAbstractSniffUnitTest.php</exclude-pattern>
</ruleset>
