<?xml version="1.0"?>
<ruleset name="Hostnet PHPCodeSniffer Standard">
  <rule ref="Hostnet"/>
  <!-- Copied from mediawiki-codesniffer -->
  <exclude-pattern>src/Hostnet/Sniffs/Classes/MultipleEmptyLinesSniff.php</exclude-pattern>
</ruleset>
